/*--- navbar ---*/
/* background: linear-gradient(to right,#4458dc, #854fee) */
body{
	font-family: 'Roboto', sans-serif;
}
.main-menu .nav-link{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.80em;
	color: black !important;
	padding: 0px 15px !important;
}
.main-menu a:hover{
	color: #4458dc !important;
}

/*--- main ---*/
/*### banner ###*/
#banner{
	background: url('img/banner/home-banner.png') no-repeat;
	background-size: contain;
}
.site-title h2{
	font-size: 2.5em;
	font-weight: bold;
}
.site-title h2::after{
	content: "";
	width: 150px;
	height: 2px;
	background: black;
	display: inline-block;
	margin-left: 5%;
	margin-bottom: 2%;
}
.site-title h1{
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
}
.site-title h4{
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
}
.banner-left{
	padding-left: 12%;
}
.btn{
	text-transform: uppercase;
	font-size: 0.9em;
	margin-right: 1em;
}
.btn-primary{
	background: linear-gradient(to right,#4458dc, #854fee);
	border: none;
	padding: 0.5em;
}
.btn-outline-secondary{
	border: 2px solid #4458dc;
}
.btn-outline-secondary:hover{
	background: linear-gradient(to right,#4458dc, #854fee);
	border: 2px solid #4458dc;
}




/*### banner-section @media queries ###*/
@media(max-width: 1189px){
	.banner-left{
		padding-left: 15%;
	}
}
@media(max-width: 991px){
	.banner-left{
		padding-left: 2%;
		margin-top: 0 !important;
	}
}
@media(max-width: 659px){
	.site-title h1{
		font-size: 2em;
	}
}
@media(max-width: 575px){
	.container-md{
		margin-top: 20px !important;
	}
	.banner-left{
		font-size: 0.7em;
	}
	.site-title h4{
		font-size: 1.2em;
	}
	.site-title h2::after{
		content: "";
		width: 90px;
		margin-left: 2%;
	}
	.btn{
		font-size: 1.1em;
		font-weight: bold;
		margin-right: 0.5em
	}
	.btn-primary{
		padding: 0.6em;
	}
	.btn-outline-secondary{
		padding: 0.45em 1em;
	}
}
