/*--- navbar ---*/
/* background: linear-gradient(to right,#4458dc, #854fee) */
body{
	font-family: 'Roboto', sans-serif;
}
.main-menu .nav-link{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.80em;
	color: black !important;
	padding: 0px 15px !important;
}
.main-menu a:hover{
	color: #4458dc !important;
}

/*--- main ---*/
/*### banner ###*/
#banner{
	background: url('img/banner/home-banner.png') no-repeat;
	background-size: contain;
}
.site-title h2{
	font-size: 2.5em;
	font-weight: bold;
}
.site-title h2::after{
	content: "";
	width: 150px;
	height: 2px;
	background: black;
	display: inline-block;
	margin-left: 5%;
	margin-bottom: 2%;
}
.site-title h1{
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
}
.site-title h4{
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
}
.banner-left{
	padding-left: 12%;
}
.btn{
	text-transform: uppercase;
	font-size: 0.9em;
	margin-right: 1em;
}
.btn-primary{
	background: linear-gradient(to right,#4458dc, #854fee);
	border: none;
	padding: 0.5em;
}
.btn-outline-secondary{
	border: 2px solid #4458dc;
}
.btn-outline-secondary:hover{
	background: linear-gradient(to right,#4458dc, #854fee);
	border: 2px solid #4458dc;
}

/*### about-us-section ###*/
#about-us h3{
	letter-spacing: 12px;
	font-size: 1.5em;
	font-weight: 600;
}
#about-us span{
	display: block;
}
#about-us .paragraph{
	font-family: Roboto;
}

/*### brand-section ###*/
#brand img:hover{
	transform: scale(1.2);
	padding: 0 10px;
	filter: brightness(0.15);
	cursor: pointer;
}
#brand #years{
	background: url('img/client-info-bg.png') no-repeat;
}
#brand .years{
	padding-left: 7em;
	padding-top: 0.7em;
}
#brand .years h1{
	font-size: 3.5em;
	font-weight: bolder;
	color: #4458dc;
}
#brand .years .experiences span{
	display: block;
	font-size: 0.9em;
	font-weight: 600;
	padding-left: 0.2em;
}
#brand .call-now{
	margin-top: 7rem;
	padding-left: 7rem;
}
#brand .call-now .call-me{
	padding-left: 0.5rem;
}
#brand .call-now .call-me span{
	font-weight: 600;	
}

/*### services-section ###*/
#services{
	margin: 2em 0;
}
#services h1{
	font-weight: bold;
}
#services .card{
	background: rgba(218, 235, 255, 0.8);
	border: none !important;
	height: 250px;
}
#services .img-fluid{
	display: inline-block;
	width: 20%;
	margin: auto;
	padding-top: 1.5em;
}
#services .card h1{
	font-size: 1em;
}

/*### projects-section ###*/
#projects{
	margin-top: 5em !important;
}
#projects .title-h1, #about-client h1{
	font-size: 1.5em;
	font-weight: bold;
}
#projects .btn{
	margin-top: 2em;
	font-size: 0.75em;
	font-weight: bold;
}
#projects h4{
	font-size: 1em;
	font-weight: bold;
}
button:focus, button:active, button:hover, .btn:active{
	outline: 0px !important;
	box-shadow: none !important;
}

/*### about-client-sectio ###*/
#about-client .left > img{
	display: block;
	width: 25%;
	margin: auto;
	border-radius: 50%;
	padding-top: 0.5rem;
}
#about-client .right > h4{
	margin-top: 0.7em;
	font-size: 0.9em;
	font-weight: bolder;
}
#about-client .about-item{
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	margin: 0.5em;
	border-radius: 5px;
}

/*### subscribe-section ###*/
#subscribe{
	background: linear-gradient(to right,#4458dc, #854fee);
	width: 73%;
	margin: 4rem auto !important;
	padding: 3rem;
	border-radius: 5px;
	color: whitesmoke;
}
#subscribe .col h4{
	font-weight: bolder;
}
#subscribe .col p{
	font-weight: 500;
	padding-top: 1em;
}
form input{
	border-radius: 3px;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	font-weight: bold;
	background: transparent;
	padding: 0.5em;
}
#subscribe .col .email{
	font-size: 0.9em;
	width: 45%;
	padding-left: 0.5em;
	outline: none;
}
#subscribe .col .submit{
	background-color: whitesmoke;
	color: black;
}
form input::placeholder{
	color: whitesmoke;
}

/*====== footer ======*/
#footer .logo-img, .socials-icons{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.socials-icons h5{
	font-size: 1em;
	font-weight: bolder;
}
.socials-icons .social-items a{
	display: inline-block;
	font-size: 20px;
	padding: 1em;
	color: #667882;
}
.socials-icons .social-items a:hover{
	color: #457DBB;
}
.copyrights{
	margin-top: 1rem;
	font-weight: 600;
}
.copyrights span{
	color: #667882;
}








/*### banner-section @media queries ###*/
@media(max-width: 1189px){
	.banner-left{
		padding-left: 15%;
	}
}
@media(max-width: 991px){
	.banner-left{
		padding-left: 2%;
		margin-top: 0 !important;
	}
}
@media(max-width: 659px){
	.site-title h1{
		font-size: 2em;
	}
}
@media(max-width: 575px){
	.container-md{
		margin-top: 20px !important;
	}
	.banner-left{
		font-size: 0.7em;
	}
	.site-title h4{
		font-size: 1.2em;
	}
	.site-title h2::after{
		content: "";
		width: 90px;
		margin-left: 2%;
	}
	.btn{
		font-size: 1.1em;
		font-weight: bold;
		margin-right: 0.5em
	}
	.btn-primary{
		padding: 0.6em;
	}
	.btn-outline-secondary{
		padding: 0.45em 1em;
	}
}

/*### brand-section @media queries*/
@media(max-width: 757px){
	.phone-number{
		font-size: 0.79em;
	}
}
@media(max-width: 632px){
	#brand .years{
		padding-left: 5em;
		padding-top: 0;
	}
	#brand .call-now{
		padding-left: 5rem;
	}
}
@media(max-width: 575px){
	#years{
		margin-top: 1.5em;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		position: relative;
		padding: 0.5em 0;
	}
	#brand .years{
		padding-left: 0em;
		padding-top: 0.7em;
	}
	#brand .call-now{
		margin-top: 0rem;
		padding-top: 1em;
		padding-left: 0.5em;
		font-size: 1em;
	}
	.phone-number{
		font-size: 0.8em;
	}
}

/*### subscribe-section @media-queries ###*/
@media(max-width: 1188px){
	#subscribe .col .email{
		width: 65%;
		padding: 0.5em;
	}
}
@media(max-width: 935px){
	#subscribe{
		width: 100%;
		padding: 3rem 1rem;
	}
}
@media(max-width: 500px){
	form{
		display: flex;
		flex-direction: column;
	}
	#subscribe .col .email{
		width: 95%;
	}
	#subscribe .col .submit{
		width: 40%;
		margin-top: 0.5em;
		padding: 0.4em;
	}
}